// Colores
$color-principal: #8B0000;
$color-secundario: #6f0000;
$color-fondo: #f8f9fa;
$color-texto-primario: #212529;
$color-texto-secundario: #555;
$color-blanco: #fff;

// Tipografías
$font-base: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
$font-titulo: 'Poppins', sans-serif;

// Medidas
$padding-base: 20px;
$padding-cards: 1.8rem;
$margin: 20px;
$border-radius: 14px;
$transition: 0.25s ease;