@use '../Utilidades/variables' as *;
@use '../Componentes/extends' as *;
@use '../Utilidades/mixins' as *;
@use '../Base/base' as *;
@use '../Componentes/componentes' as *;
// ACERCA_DE.HTML

.acerca-bloque1 {
    margin-bottom: 2.2rem;

    p {
        max-width: 760px;
        margin: 0.8rem auto;
        line-height: 1.7;
        color: $color-texto-secundario;
    }
}

.acerca-cierre {
    max-width: 760px;
    margin: 3rem auto 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: $color-texto-primario;
}

.acerca-destacado {
    font-size: 1.25rem;
    font-weight: 600;
    color: $color-principal;
    margin-bottom: 3rem;
}

.acerca-texto {
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem 1.5rem;
    text-align: center;

    .section-title {
        margin-bottom: 1.2rem;
    }
}